
Compiler_Project\.vs\Compiler_Project\v17\.suo
Compiler_Project\bin\Debug\net6.0\Compiler_Project.dll
Compiler_Project\bin\Debug\net6.0\Compiler_Project.pdb
Compiler_Project\bin\Debug\net6.0\Compiler_Project.staticwebassets.runtime.json
Compiler_Project\obj\Compiler_Project.csproj.nuget.dgspec.json
Compiler_Project\obj\Compiler_Project.csproj.nuget.g.props
Compiler_Project\obj\Debug\net6.0\Compiler_Project.assets.cache
Compiler_Project\obj\Debug\net6.0\Compiler_Project.csproj.FileListAbsolute.txt
Compiler_Project\obj\Debug\net6.0\Compiler_Project.dll
Compiler_Project\obj\Debug\net6.0\Compiler_Project.GeneratedMSBuildEditorConfig.editorconfig
Compiler_Project\obj\Debug\net6.0\Compiler_Project.genruntimeconfig.cache
Compiler_Project\obj\Debug\net6.0\Compiler_Project.pdb
Compiler_Project\obj\Debug\net6.0\project.razor.json
Compiler_Project\obj\Debug\net6.0\staticwebassets.build.json
Compiler_Project\obj\Debug\net6.0\staticwebassets.development.json
Compiler_Project\obj\project.assets.json
Compiler_Project\obj\project.nuget.cache
Compiler_Project\obj\staticwebassets.pack.sentinel
Compiler_Project/obj/staticwebassets.pack.sentinel
Compiler_Project/obj/project.nuget.cache
Compiler_Project/obj/project.assets.json
Compiler_Project/obj/staticwebassets.pack.sentinel
Compiler_Project/obj/project.nuget.cache
Compiler_Project/obj/project.assets.json
Compiler_Project/obj/Debug/net6.0/staticwebassets.development.json
Compiler_Project/obj/Debug/net6.0/staticwebassets.build.json
Compiler_Project/obj/Debug/net6.0/project.razor.json
Compiler_Project/obj/Debug/net6.0/Compiler_Project.pdb
Compiler_Project/obj/Debug/net6.0/Compiler_Project.genruntimeconfig.cache
Compiler_Project/obj/Debug/net6.0/Compiler_Project.GeneratedMSBuildEditorConfig.editorconfig
Compiler_Project/obj/Debug/net6.0/Compiler_Project.dll
Compiler_Project/obj/Debug/net6.0/Compiler_Project.csproj.FileListAbsolute.txt
Compiler_Project/obj/Debug/net6.0/Compiler_Project.assets.cache
Compiler_Project/obj/Compiler_Project.csproj.nuget.g.props
Compiler_Project/obj/Compiler_Project.csproj.nuget.dgspec.json
Compiler_Project/bin/Debug/net6.0/Compiler_Project.staticwebassets.runtime.json
Compiler_Project/bin/Debug/net6.0/Compiler_Project.pdb
Compiler_Project/bin/Debug/net6.0/Compiler_Project.dll
Compiler_Project/.vs/Compiler_Project/v17/.suo
Compiler_Project/.vs/Compiler_Project/config/applicationhost.config
Compiler_Project/obj/staticwebassets.pack.sentinel
Compiler_Project/.vs/Compiler_Project/v17/.suo
Compiler_Project/bin/Debug/net6.0/Compiler_Project.dll
Compiler_Project/bin/Debug/net6.0/Compiler_Project.pdb
Compiler_Project/bin/Debug/net6.0/Compiler_Project.staticwebassets.runtime.json
Compiler_Project/obj/Compiler_Project.csproj.nuget.dgspec.json
Compiler_Project/obj/Compiler_Project.csproj.nuget.g.props
Compiler_Project/obj/Debug/net6.0/Compiler_Project.assets.cache
Compiler_Project/obj/Debug/net6.0/Compiler_Project.csproj.FileListAbsolute.txt
Compiler_Project/obj/Debug/net6.0/Compiler_Project.dll
Compiler_Project/obj/Debug/net6.0/Compiler_Project.GeneratedMSBuildEditorConfig.editorconfig
Compiler_Project/obj/Debug/net6.0/Compiler_Project.genruntimeconfig.cache
Compiler_Project/obj/Debug/net6.0/Compiler_Project.pdb
Compiler_Project/obj/Debug/net6.0/project.razor.json
Compiler_Project/obj/Debug/net6.0/staticwebassets.build.json
Compiler_Project/obj/Debug/net6.0/staticwebassets.development.json
Compiler_Project/obj/project.assets.json
Compiler_Project/obj/project.nuget.cache
Compiler_Project/obj/staticwebassets.pack.sentinel
Compiler_Project/.vs/Compiler_Project/DesignTimeBuild/.dtbcache.v2
Compiler_Project/.vs/Compiler_Project/v17/.futdcache.v1
Compiler_project/Compiler_project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompilerProject/.vs/CompilerProject/v17/.suo
CompilerProject/.vs/CompilerProject/v17/.suo
CompilerProject/CompilerProject/bin/CompilerProject.dll
CompilerProject/CompilerProject/bin/CompilerProject.dll
CompilerProject/CompilerProject/bin/CompilerProject.pdb
CompilerProject/CompilerProject/obj/Debug/CompilerProject.dll
CompilerProject/CompilerProject/obj/Debug/CompilerProject.pdb
CompilerProject/CompilerProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompilerProject/CompilerProject/obj/Debug/CompilerProject.pdb
CompilerProject/.vs/CompilerProject/config/applicationhost.config
CompilerProject/CompilerProject/bin/CompilerProject.dll
CompilerProject/CompilerProject/bin/CompilerProject.pdb
CompilerProject/CompilerProject/obj/Debug/CompilerProject.csproj.CoreCompileInputs.cache
CompilerProject/CompilerProject/obj/Debug/CompilerProject.dll
CompilerProject/CompilerProject/obj/Debug/CompilerProject.pdb
